html {
  -webkit-box-sizing: border-box;
}

* *,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*
 Top Section
*/

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
  color: #fff5e1;
  line-height: 32px;
}

.top-bar {
  display: flex;
  background-color: #3c3a39;
  height: 48px;
  justify-items: flex-end;
  width: 100%;
}

.top-bar-left {
  flex: 1 1 auto;
  padding-left: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: #3c3a39;
}

.top-bar-left-name {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

.top-bar-left-name:hover {
  text-decoration: underline;
  text-decoration-color: rgb(254, 254, 255);
}

.top-bar-icon {
  display: flex;
  margin-left: auto;
  background-color: #3c3a39;
  padding-right: 24px;
  padding-top: 16px;
}

.intro {
  padding-top: 20px;
  display: flex;
  height: 650px;
  flex-direction: column;
  padding-left: 24px;
}

.background {
  background: url("assets/background_mobile.svg");
  background-repeat: no-repeat;
  background-color: #1c1a19;
  background-position: right 110%;
  gap: 12px;
}

.my-name {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  letter-spacing: 0.37px;
  position: static;
  width: 327px;
  height: 124px;
  line-height: 56px;
  font-weight: normal;
  color: #ff6b00;
  padding-top: 120px;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff5e1;
  display: flex;
  align-items: flex-start;
  padding-top: 120px;
  width: 327px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 12px;
  display: flex;
  padding-right: 24px;
}

.social-icons {
  display: flex;
  padding-top: 12px;
  padding-left: 5px;
  grid-gap: 15px;
}

ul {
  list-style-type: none;
}

.section2 {
  padding-left: 24px;
  padding-right: 24px;
}

.recent-work {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding-top: 180px;
  padding-bottom: 24px;
  color: #1c1a19;
}

.line {
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2px;
  height: 1px;
  background-color: #0a0908;
}

.joga {
  padding-top: 50px;
  max-width: 684px;
  width: 100%;
}

.text2 {
  display: flex;
  font-family: "Crete Round", serif;
  font-size: 32px;
  width: 295px;
  font-weight: 400;
  line-height: 44px;
  padding-top: 12px;
}

.text3 {
  font-family: "Inter", serif;
  font-size: 16px;
  width: 327px;
  padding-top: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.nav-page2 {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
}

.nav-page2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link-1 {
  color: #091e42;
  border: 1px solid #8993a4;
  font-size: 15px;
  padding: 14px;
  background: rgba(255, 255, 255, 0.24);
  margin: 12px 12px 0 0;
}

.language-container {
  display: flex;
  flex-wrap: wrap;
}

/* professional section */
.professional-art > * {
  display: block;
}

.professional-art {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding-top: 50px;
  align-items: end;
}

.professional-art h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  padding-left: 24px;
  margin-right: 24px;
}

.professional-art p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-right: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.professional-art .professional-navigation {
  padding: 0 25px;
  align-self: center;
}

.professional-art .professional-btn {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  align-self: stretch;
  padding: 10px 5px;
  font-weight: 900;
  border: 1px solid transparent;
  background: #ff6b00;
  color: white;
}

.professional-art ul li {
  padding-right: 20px;
}

.img1 {
  background: url("assets/image_backgrnd1.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 369px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 330px;
}

.img2 {
  background: url("assets/image_backgrnd2.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 369px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 330px;
}

.img3 {
  background: url("assets/image_backgrnd3.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 369px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 326px;
  min-width: 330px;
}

.img4 {
  background: url("assets/image_backgrnd4.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 369px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-width: 330px;
}

.profesional-container {
  display: flex;
  margin: 5px 16px 16px 16px;
}

.about-btn1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 17px;
  width: 100%;
  justify-self: start;
  align-self: start;
  padding: 20px 1px;
  border: 1px solid #f55800;
  color: #fff;
  background: #ff6b00;
}

.professional-btn1 a {
  font-family: Inter, sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-right: 12px;
  margin-left: -15px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  float: left;
}

.btn {
  justify-self: start;
  padding: 12px 24px;
  margin-top: 12px;
  background: #ff6b00;
  border: 1px solid #f55800;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 17px;
}

.btn1 {
  justify-self: start;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  margin-top: 12px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 17px;
}

.btn2 {
  justify-self: start;
  padding: 12px 24px;
  margin-top: 12px;
  background: #ff6b00;
  border: 1px solid #f55800;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 17px;
}

a:link,
a:visited {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1c1a19;
  margin-top: 110px;
}

.about-me,
.first h2 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  color: #ff6b00;
  padding-top: 50px;
  line-height: 88px;
}

.about-me .second {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  padding-left: 24px;
  width: 327px;
}

.about-btn {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 17px;
  align-self: start;
  padding: 12px 5px;
  color: #fff;
  background: #ff6b00;
  border: 1px solid #f55800;
}

.backgroundabout-me {
  background: url("assets/about_me.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 0 0 500px 0;
}

.line2 {
  margin-top: -260px;
  margin-bottom: 2px;
  height: 1px;
  background-color: #fff;
  margin-left: 24px;
  margin-right: 24px;
}

/* Skills */
#language::before {
  margin: 0 15px;
  content: url("assets/skill1.svg");
}

#framework::before {
  margin: 0 15px;
  content: url("assets/skill2.svg");
}

#skilled::before {
  margin: 0 15px;
  content: url("assets/skill3.svg");
}

.skills {
  margin-top: 80px;
  left: 0;
  background: #1c1a19;
  padding-bottom: 100px;
}

.skilled-1,
.skilled-2,
.skilled-3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: 44px;
  color: white;
}

.inner-list1,
.inner-list2,
.inner-list3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: white;
}

button:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

button:active {
  color: #f4f1f0;
  background-color: #e05304;
}

.container-section {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-left: 24px;
}

/* Contact Form */
.cnt-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 375px;
  left: 0;
}

.main-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: 110px;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  line-height: 44px;
  color: #172b4d;
}

.f-name,
.f-email {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 39px;
  margin-left: 40px;
  margin-right: 40px;
  color: #979493;
  background-image: url("assets/hr-line4.svg");
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input1 {
  height: 18px;
  width: 295px;
  border: none;
  outline: none;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  margin-top: 73px;
}

.form-input2 {
  height: 18px;
  width: 295px;
  border: none;
  outline: none;
  margin-top: 39px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.contact-hr {
  border: 0;
  width: 327px;
  display: block;
  margin-top: 14px;
  margin-left: 24px;
  margin-right: 24px;
  height: 1px;
  background-color: #0a0908;
}

.form-text {
  margin-top: 24px;
  width: 327px;
  height: 114px;
  margin-left: 24px;
  margin-right: 24px;
  background: #fbf8f7;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 15px;
}

.about-btn4 {
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  margin: 24px 1px;
  border: 1px solid #f55800;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.social-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-line-bottom {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2px;
  height: 1px;
  width: 100%;
  background-color: #0a0908;
}

.social-icons-bottom {
  color: #505f79;
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-left: 50%;
  padding-right: 50%;
  padding-bottom: 20px;
  grid-gap: 15px;
}

.hr-line-last {
  width: 135px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-left: 42%;
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 996px) {
  .top-bar-left {
    height: 72px;
    padding-left: 154px;
    padding-bottom: 26px;
    padding-top: 26px;
  }

  .my-name {
    display: block;
    flex-wrap: nowrap;
    font-size: 72px;
    letter-spacing: 0.37px;
    width: 566px;
    height: 124px;
    line-height: 81px;
    font-weight: normal;
    padding-top: 192px;
    padding-left: 143px;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 151px;
    width: 320px;
    height: 124px;
  }

  .top-bar-links {
    font-weight: bold;
    margin-left: auto;
    background-color: #3c3a39;
    padding-right: 24px;
    padding-top: 24px;
    height: 72px;
  }

  .desktop-link {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
  }

  .top-bar-icon {
    display: none;
  }

  .subtext {
    font-size: 32px;
    line-height: 44px;
    padding-top: 148px;
    padding-left: 143px;
    width: 566px;
  }

  .text {
    font-size: 20px;
    text-shadow: 1px 1px #1c1a19;
    margin-top: 12px;
    padding-right: 24px;
    padding-left: 143px;
    font-weight: 400;
    width: 720px;
    display: flex;
  }

  .social-icons {
    position: absolute;
    top: 330px;
    padding-left: 36px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .background-desktop {
    background: url("assets/background_desktop.png");
    background-repeat: no-repeat;
    background-color: #1c1a19;
    background-size: 45%;
    background-position: right bottom;
    gap: 12px;
  }

  .line {
    margin-top: -50px;
    margin-left: 350px;
  }

  .text2 {
    margin-top: -460px;
    margin-left: 700px;
  }

  .text3 {
    margin-left: 700px;
  }

  .link-tag {
    margin-left: 700px;
  }

  .space {
    padding-top: 200px;
  }

  .section2 {
    padding-left: 167px;
    padding-right: 24px;
  }

  .btn2 {
    margin-left: 700px;
    max-height: 48px;
  }

  .container-section1 {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
  }

  .container-section2 {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
  }

  .backgroundabout-me {
    background: url("assets/background_desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .about-me,
  .first h2 {
    text-align: left;
    padding-top: 130px;
    padding-left: 150px;
    line-height: 88px;
  }

  .second .about-me {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-left: 180px;
    width: 566px;
    text-shadow: 1px 1px #1c1a19;
    color: #fff;
  }

  .second {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-left: 80px;
    width: 566px;
    text-shadow: 1px 1px #1c1a19;
    color: #fff;
  }

  .line2 {
    margin-top: 80px;
    margin-bottom: 2px;
    height: 1px;
    background-color: #fff;
    margin-left: 80px;
    margin-right: 160px;
  }

  .skills {
    display: grid;
    padding-left: 80px;
    padding-top: 80px;
    grid-column-gap: 10px;
  }

  .inner-list1 {
    margin-left: 10px;
  }

  .skilled-2 {
    margin-left: 400px;
    margin-top: -220px;
  }

  .inner-list2 {
    margin-left: 410px;
  }

  .skilled-3 {
    margin-left: 800px;
    margin-top: -260px;
  }

  .inner-list3 {
    margin-left: 810px;
  }

  .cnt-container {
    display: flex;
    flex-direction: row;
  }

  .main-text {
    font-size: 40px;
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 24px;
    text-align: left;
    width: 455px;
  }

  .form-container {
    display: block;
    margin-left: 690px;
    margin-top: -280px;
  }

  .contact-hr {
    width: 648px;
  }

  .form-text {
    width: 648px;
  }

  .about-btn4 {
    display: block;
    margin-left: 24px;
    border: 1px currentColor;
  }

  .hr-line-bottom {
    width: 100%;
  }

  .social-icons-bottom {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
  }

  .hr-line-last {
    display: none;
  }
}
